services:
  # Serviço do Site (Painel Web)
  web:
    build: .
    container_name: conekta_web
    command: uvicorn app:app --host 0.0.0.0 --port 8000
    volumes:
      - conekta_data:/app/data  # Volume nomeado para persistir o banco de dados
    ports:
      - "5005:8000"
    environment:
      - TZ=America/Sao_Paulo # Define o fuso horário correto
    restart: always

  # Serviço do Gerente (Bots)
  manager:
    build: .
    container_name: conekta_manager
    command: python manager.py
    volumes:
      - conekta_data:/app/data  # Mesmo volume para compartilhar o banco
    environment:
      - TZ=America/Sao_Paulo
    restart: always

# Volumes nomeados para persistir dados
volumes:
  conekta_data: